{% extends 'base.html' %}{% block title %} Homepage {% endblock %} {% block
content %}
<div class="container">
  {% for msg in get_flashed_messages() %}
  <p class="alert alert-success mt-3" role="alert">{{ msg }}</p>
  {% endfor %}
  <h1 class="display-3 text-center">Pets</h1>
  <div class="d-lg-flex">
    {% for pet in pets %}
    <div class="card m-3 border-0">
      <a href="/{{pet.id}}">
        <img
          width="320"
          height="320"
          src="{{ pet.photo_url }}"
          alt="Picture of {{ pet.name }} a {{ pet.species }}"
          class="card-image-top border p-1"
        />
      </a>
      <div class="card-body">
        <p class="card-text">
          {{ pet.name }} {% if pet.available %}
          <strong>is available!</strong> {% endif %}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="/add" class="btn btn-success">Add a Pet</a>
  </div>
</div>
{% endblock %}
